@import './base.css';
@import './bacbopro.css';

html,
body {
  height: 100%;
}

#app {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: none;
  margin: 0 auto;
  min-height: 100vh;
  min-height: 100dvh;
  background: #000000;
}
